{% extends 'base.html' %}
{% load static %}

{% block title %}WhatsApp{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}


    <div class="container-fluid front-container1 m-0">
        <div class="row">
            
            <div class="col-sm-4 contacts p-0">
                <div class="contact-table-scroll">
                    <table class="table table-hover">
                        <tbody>
                            {% for user in users %}
                            <tr class="d-flex flex-column">
                                <td class="p-3 border-bottom d-flex align-items-center justify-content-between">
                                    {% if user.userprofilemodel.online_status %}
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'assets/dp.png' %}" alt="" class="profile-image rounded-circle mr-2">
                                        
                                        <a style="color: green; text-transform: capitalize;text-decoration:none;" id="{{user.username}}_status" href="{% url 'chat' username=user.username %}">{{user.username}}</a>
                                    </div>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dot text-success" viewBox="0 0 16 16">
                                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                    </svg>                        
                                    {% else %}
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'assets/dp.png' %}" alt="" class="profile-image rounded-circle mr-2">
                                        <a style="color: grey; text-transform: capitalize; text-decoration:none;" id="{{user.username}}_status" href="{% url 'chat' username=user.username %}">{{user.username}}</a>
                                    </div>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dot text-success d-none" viewBox="0 0 16 16">
                                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                    </svg>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}

                            <!-- end -->
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-sm-8 contacts p-0 mobileChatArea" style="background-color: #e4e1de;">   
            </div>
        </div>
    </div>


{% endblock %}